@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

body {
  width: 100%;
  height: 100vh;
  user-select: none;
}
h1,
h2,
h3,
p,
a {
  font-family: "Roboto", cursive;
}
a {
  text-decoration: none;
  color: white;
}
//****************************************************************************
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$btnColor: linear-gradient(
  27deg,
  rgba(147, 86, 220, 1) 0%,
  rgba(255, 121, 218, 1) 100%
);
$heartColor: linear-gradient(
  27deg,
  rgba(147, 86, 220, 1) 0%,
  rgba(255, 121, 218, 1) 100%
);
$footer: #353535;
$backgroundCard: #f6f6f6;

/*PAGE*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 400px;

  &--logoUp {
    width: 180px;
    //width: 45%;
    height: 15%; //60px
    margin: 0 auto;

    @media (min-width: 900px) {
      width: 20%;
      height: 20%;
    }
  }
  &__location {
    width: 100%;
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    background: rgb(147, 86, 220);
    background: linear-gradient(
      360deg,
      rgba(222, 220, 242, 1) 80%,
      rgba(210, 210, 218, 0.8) 85%,
      rgba(61, 185, 207, 0.8) 100%
    );

    &--place {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-right: 30px;

      &--marker {
        color: #353535;
      }
    }

    &--city {
      margin-left: 15px;
    }
  }
}
.header__explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $backgroundCard;
  width: 100%;
  height: 300px;

  h1 {
    font-size: 1.5rem;
    font-weight: 900;
    width: 70%;
    text-align: center;
    margin-top: 20px;
  }
  p {
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    color: rgb(121, 117, 120);
  }
  &--btn {
    height: 50px;
    width: 220px;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    background: $btnColor;
    border: none;
    margin-bottom: 20px;
    box-shadow: 1px 1px 6px rgb(166, 166, 221);
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.01);
      opacity: 0.9;
      box-shadow: 2px 4px 10px rgb(166, 166, 221);
    }
  }
}
//réduire fonctionnement et mettre un disolay-flex en center à 1030
.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 96%;
  height: 400px;
  margin: auto 3%;

  @media (min-width: 900px) {
    height: 200px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    font-size: 1.3rem;
    font-weight: bold;
    width: 92%;
    height: 70px;
    margin-left: 3%;

    @media (min-width: 900px) {
      margin-left: 1%;
    }
  }

  &__explications {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;

    @media (min-width: 900px) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;
      height: 200px;
    }

    &--card {
      display: flex;
      align-items: center;
      margin: 0 auto;
      width: 90%;
      height: 20%;
      background-color: $backgroundCard;
      border-radius: 20px;
      box-shadow: 1px 3px 18px rgb(170, 220, 241);
      cursor: pointer;

      @media (min-width: 900px) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        height: 80px;
      }
    }
    &--card:hover {
      background-color: #f5edff;
      box-shadow: 1px 3px 18px rgb(156, 209, 231);

      .fas {
        color: $primary;
      }
    }
  }
}

.label p {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 20px;

  @media (min-width: 1120px) {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
.choix p {
  margin-left: 27px;

  /* @media (min-width: 1120px) {
    font-size: 1.3rem;
  }*/
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: -14px;

  &--number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: $primary;
    border-radius: 25px;
    color: white;

    @media (min-width: 900px) {
      width: 27px;
      height: 27px;
    }
  }

  &__menuIcone {
    display: flex;
    align-items: center;

    .icoMenu {
      color: rgb(63, 112, 114);
      font-size: 1.2rem;
      margin-top: 2px;
      margin-left: 20px;
    }
  }
  &--icoStore {
    color: rgb(63, 112, 114);
    font-size: 1.2rem;
    margin-bottom: 2px;
    margin-left: 20px;
  }

  &--icoMobile {
    color: rgb(63, 112, 114);
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-left: 30px;
  }
}

.restaurants {
  background-color: $backgroundCard;
  width: 100%;
  height: auto; /*1200px*/

  &--title {
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
    width: 90%;
    height: 60px;
    margin-left: 5%;
    margin-bottom: 3%;
  }
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 1080px;

  @media (min-width: 900px) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
  }

  &--card,
  a {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 20px rgb(211, 209, 235);
    cursor: pointer;
    transition: transform 0.5s;

    @media (min-width: 900px) {
      width: 45%;
    }
    &:hover {
      transform: scale(1.01);
      box-shadow: 1px 5px 15px rgb(156, 209, 231);
    }

    &--img {
      width: 100%;
      height: 180px;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      //object-position: center;
      object-position: 50% -40px;
    }
    .img2 {
      object-position: 50% -170px;
    }

    .newRestaurant {
      position: relative;
    }
    &--new {
      position: absolute;
      vertical-align: middle;
      right: 10px;
      top: 10px;
      background-color: $tertiary;
      color: #008766;
      width: 80px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 3px;
      box-shadow: 1px 1px 5px;
    }
    &--name {
      display: flex;
      flex-direction: row;
      width: 90%;
      height: 50px;
      justify-content: space-between;
      margin-left: 15px;
      margin-top: 15px;
      color: #000;
    }
    .heartLike {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2px;
      border: none;
      background-color: white;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
    .far.fa-heart {
      position: relative;
      font-size: 1.5rem;
      margin-top: 2px;
      color: rgb(134, 120, 120);
    }
    .fas.fa-heart {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      font-size: 1.3rem;
      width: 22px;
      height: 20px;
      margin-top: 2px;
      background-image: $heartColor;
      -webkit-background-clip: text;
      color: transparent;
    }

    .fas.fa-heart:hover {
      animation: fadein 0.8s forwards;
      opacity: 0;
    }
    @keyframes fadein {
      0% {
        opacity: 0;
        font-size: 0;
        transform: translateY(50%);
      }
      100% {
        opacity: 1;
        font-size: 1.3rem;
        transform: translate(0);
      }
    }

    &--name h3 {
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }
}
.footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: $footer;

  &__block {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 90%;

    &--logoDown {
      width: 29%;
      min-width: 100px;
      max-width: 200px;
      margin-top: 10px;
      height: 40px;
      fill: #fff;
    }
    &--links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 120px;

      @media (min-width: 900px) {
        align-items: center;

        @media (min-width: 1200px) {
          flex-direction: row;
          width: 70%;
          margin-left: 25%;
        }
      }
    }
    .fa-utensils,
    .fa-hands-helping {
      color: white;
    }
  }
}
