@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

body {
  width: 100%;
  height: 100vh;
  user-select: none;
}
h1,
h3,
p,
a {
  font-family: "Roboto", cursive;
}
h2 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: white;
}

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$btn-color: linear-gradient(
  27deg,
  rgba(147, 86, 220, 1) 0%,
  rgba(255, 121, 218, 1) 100%
);

$heart-color: linear-gradient(
  27deg,
  rgba(147, 86, 220, 1) 0%,
  rgba(255, 121, 218, 1) 100%
);

$backgroundCard-color: #f6f6f6;

.header__menus {
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--return {
    display: flex;
    width: 23px;
    height: auto;
    margin-left: 100%;
    font-size: 1.4rem;
    color: rgb(109, 101, 101);
  }

  &--logoUp {
    width: 180px;
    margin: 0 auto;

    @media (min-width: 900px) {
      width: 20%;
    }
  }
}

.restaurant--img {
  position: absolute;
  width: 100%;
  height: 40%;
  object-fit: cover;
  object-position: 30% 70%;

  @media (min-width: 1140px) {
    height: 80%;
  }
}

.menuCard {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 220px;
  width: 100%;
  height: 100%;
  background-color: $backgroundCard-color;
  border-radius: 40px 40px 0 0;

  @media (min-width: 1140px) {
    top: 400px;
  }

  &__restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;

    @media (min-width: 800px) {
      width: 50%;
      margin: 0 auto;
      margin-top: 20px;
    }

    &--title {
      font-size: 1.8rem;

      @media (min-width: 270px) {
        font-size: 1.4rem;
      }

      @media (min-width: 326px) {
        font-size: 1.8rem;
      }

      @media (min-width: 800px) {
        font-size: 2.3rem;
      }
    }

    .heartLike {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &--far-heart {
        position: relative;
        font-size: 1.5rem;
        color: rgb(134, 120, 120);
      }

      &--fas-heart {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        font-size: 1.3rem;
        width: 22px;
        height: 20px;
        background-image: $heart-color;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .fas.fa-heart:hover {
      animation: fadein 0.8s forwards;
      opacity: 0;
    }

    @keyframes fadein {
      0% {
        opacity: 0;
        font-size: 0;
        transform: translateY(50%);
      }
      100% {
        opacity: 1;
        font-size: 1.3rem;
        transform: translateY(0);
      }
    }
  }
}

@media (min-width: 1140px) {
  .containerMenus {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    margin: 40px auto;
  }
}

.category {
  @media (min-width: 800px) {
    margin-left: 10%;
  }

  @media (min-width: 1140px) {
    margin-left: 0;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-left: 3%;
    color: rgb(100, 84, 84);
    margin-top: 20px;

    &--hr {
      margin-left: 3%;
      width: 40px;
      height: 3px;
      background-color: $tertiary-color;
      border: none;
    }
  }
}

.menu {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 800px) {
    width: 80%;
    margin-left: 10%;
  }

  @media (min-width: 1140px) {
    width: 370px;
    margin-left: 0;
  }

  &--menu2Entrées {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 800px) {
      width: 80%;
      margin-left: 10%;
    }

    @media (min-width: 1140px) {
      width: 370px;
      margin-left: 0;
    }
  }
}

.labelMenu {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 70px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgb(211, 209, 235);
  cursor: pointer;
  opacity: 0;
  animation: fadeInUp 0.8s forwards;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(45%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__plate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 10px 10px;
    width: 85%;
    overflow: hidden;

    p {
      font-size: 0.96rem;
      margin-top: 5px;
      height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &--naming {
      font-size: 1.1rem;
      font-weight: bold;
      height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &--price {
      display: flex;
      align-items: flex-end;
      font-weight: bold;
      margin-bottom: 15px;
      margin-right: 20px;
    }

    .labelMenu:hover &--checkInChoice {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $tertiary-color;
      border-radius: 0 15px 15px 0;
      animation-name: slideInRight;
      animation-duration: 0.8s;
      animation-fill-mode: both;

      @keyframes slideInRight {
        0% {
          width: 0;
        }
        100% {
          width: 17%;
        }
      }

      .fa-check {
        color: white;
        transform: rotate(-360deg);
        animation-name: checkInRotate;
        animation-duration: 0.8s;
        animation-fill-mode: both;
        font-size: 0;

        @keyframes checkInRotate {
          0% {
            transform: rotate(-360deg);
          }
          35% {
            font-size: 1.3rem;
          }
          100% {
            transform: rotate(0deg);
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

.lM2 {
  animation-delay: 0.3s;
}

.lM3 {
  animation-delay: 0.6s;
}

.lM4 {
  animation-delay: 0.9s;
}

.lM5 {
  animation-delay: 1.2s;
}

.lM6 {
  animation-delay: 1.5s;
}

.lM7 {
  animation-delay: 1.8s;
}

.lM8 {
  animation-delay: 2.1s;
}

.lM9 {
  animation-delay: 2.4s;
}

.lM10 {
  animation-delay: 2.7s;
}

.btn {
  display: block;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  background: $btn-color;
  border: none;
  margin: 40px auto 80px;
  box-shadow: 1px 1px 6px rgb(166, 166, 221);
  cursor: pointer;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.01);
    box-shadow: 2px 4px 10px rgb(166, 166, 221);
    opacity: 0.9;
  }
}

/*FOOTER*/
.footer {
  margin-top: 220px;

  @media (min-width: 1140px) {
    margin-top: 400px;
    margin-bottom: 50px;
  }
}
